<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RectangleServlet</servlet-name>
        <servlet-class>web.servlets.RectangleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CircleServlet</servlet-name>
        <servlet-class>web.servlets.CircleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriangleServlet</servlet-name>
        <servlet-class>web.servlets.TriangleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RectangleServlet</servlet-name>
        <url-pattern>/RectangleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CircleServlet</servlet-name>
        <url-pattern>/CircleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriangleServlet</servlet-name>
        <url-pattern>/TriangleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
